.card {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(112, 111, 111);
    border-radius: 0.5rem;

    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*3 columnas de 1 fracción*/
    grid-template-rows: 1fr 2fr; /* primer fila se una fracción y segunda del doble */

    position: relative;
}

.cityName{
    grid-column: 1 / span 3;
    font-weight: 700;
    font-size: 1.5rem;
}

.closeButton {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    font-size: 0.7rem;
    color: rgb(23, 22, 22);
    padding: 0.1rem 0.2rem;
    
    border-radius: 0.3rem;
    border-color: transparent;
    background-color: transparent;
}

.closeButton:hover {
  background-color: rgb(247, 212, 212);
  border: 0.1rem solid #c8c8ca;
  transition: transform .4s;
}

.tempName {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.tempValue {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

