/* containOneCard definido en Ciudad.css */

.titleAbout {
  position: relative;
  top: 2rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: .2rem;    
}

.infoAbout {
  position: relative;
  top: 5rem;
  text-align: center;
}
