.title{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center; 
    align-items: center;
    width: 75vw;
    height: 15vh; 
    margin: 5vh 15vw;
    padding: 1.3rem;
    
    border-radius: 1rem;
    box-shadow: 0 0 2rem #4a321a;
  }

.title > h3 {
    text-align: center;
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: .1rem;        
  }
  
  .title > img {
    width: 8rem;
    padding-left: .5rem;
  }